@import 'directives/ms-exponent.css';

/* app css stylesheet */


/* Animations */

/* fadeIn */
ms-panel > div {
    -moz-animation: fadein 1s, slideup 0.25s ease-in;
    -ms-animation: fadein 1s, slideup 0.25s ease-in;
    -o-animation: fadein 1s, slideup 0.25s ease-in;
    -webkit-animation: fadein 1s, slideup 0.25s ease-in;
    animation: fadein 1s, slideup 0.25s ease-in;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

/* bounce */

@-webkit-keyframes slideup {
    from {
        margin-top: 10px;
    }

    to {
        margin-top: inherit;
    }
}

@-moz-keyframes slideup {
    from {
        margin-top: 10px;
    }

    to {
        margin-top: inherit;
    }
}

@-o-keyframes slideup {
    from {
        margin-top: 10px;
    }

    to {
        margin-top: inherit;
    }
}

@keyframes slideup {
    from {
        margin-top: 10px;
    }

    to {
        margin-top: inherit;
    }
}
