.arrowheadRight {
	  position: relative;
	  width: 0;
	  height: 0;
	  display:block;
}
.arrowheadRight:after {
	  content: "";
	  position: absolute;
	  display:block;
	  border-left: 2px solid transparent;
	  border-bottom: 4px solid black;
	  border-right: 2px solid transparent;
	  top: -45px;
	  left: .9em;
	  width: 0;
	  height: .3em;
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
}
.arrowheadLeft {
	  position: relative;
	  width: 0;
	  height: 0;
	  display:block;
}
.arrowheadLeft:after {
	  content: "";
	  position: absolute;
	  display:block;
	  border-left: 2px solid transparent;
	  border-bottom: 4px solid black;
	  border-right: 2px solid transparent;
	  top: -43px;
	  left: -.3em;
	  width: 0;
	  height: .3em;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
}
.borderArrowhead{
	position: relative;
	text-align:center;
	border-spacing: 1px;
    border-bottom: 1px solid black;
    border-radius:0 0 1em 1em;
}
.border-bottom-2px-black {
	border-bottom:2px solid black;
} 
.border-bottom-with-padding {
	padding-bottom: 1em;
	border-bottom:2px solid black;
} 
.border-top-2px-black {
	border-top:2px solid black;
}
.borrowSubtract {
	vertical-align:top;
	font-size:.7em;
	padding-left:4px;
}
.carry {
	font-size:small;
}
.centerTableText3 table tr td {
	width: 3em;
	text-align: center;
}
.centerTableText6 table tr td {
	width: 6em;
	text-align: center;
}
.collapseTable {
	border-collapse:collapse;
}
.large-font-size {
	font-size:110%;
}
.help-answer-margin-right {
	margin-right: 50px;
}
.multiply-dot {
	font-size: 200%;
    padding: .5em .5em 0 .5em;
}
.paddingHalfSubtract {
	padding-left:8px;
}
.paddingFullSubtract {
	padding-left:14px;
}
.padding_right_8px {
	padding-right:8px;
}
.row-line-through .line_through_dimmed {
	text-decoration: line-through;
	color: rgba(0, 0, 0, .7);
}
.separateTable {
	border-collapse:separate;
}
table.td_padding td {
	padding-left:4px;
	padding-right:4px;
}
.td_padding_small {
	padding-left:2px;
	padding-right:4px;
}
.text_align_center {
  	text-align:center;
}
.text_align_left {
	text-align:left;
}
.text_align_right {
  	text-align:right;
}
.tr_height {
  	height:1.7em;
}
.tr_height_plus {
  	height:2em;
}
.whole-part-font-size {
  	font-size:150%;
  	margin-right:4px;
}