

/* center the text in <tr> tags in help panel (6.3 Equivalent Fractions & 9.1 Add and Subtract Like Fractions)*/
body {
	font-family: sans-serif;
	font-size:100%
}
.center-tr-txt{
    text-align: center;
}

.comma-size {
	font-size:150%;
}

.decimal-size {
	font-size:125%;
}

.equivalence-table {
	text-align:center;
	margin-left:80px;
}

.fixBottomRight {
	position:fixed;
	bottom:0;
	right:0;
	margin-right:20px;
}

.equivalence-table th {
	color: #069;
	font-size: 105%;
	font-weight: normal;
	padding-bottom: .2em;
}

.equivalence-table tr {
 	border-bottom: 1px solid black;
}

.equivalence-table tr:first-child {
 	border-bottom: 0px;
}

.equivalence-table tr:last-child {
 	border-bottom: 0px;
}

.equivalence-table tr td {
 	padding: .5em .2em;
}

.help-answer-text {
	display:block;	
	margin-left:50px;
	color: #069;
	font-size: 105%;
	font-weight: normal;
}

.help-answer-text .fraction hr {
	border-color: transparent transparent #069 transparent;
}

.help-answer-text-tight {
	display:block;	
	color: #069;
	font-size: 105%;
	font-weight: normal;
}

.help-answer-text-tight .fraction hr {
	border-color: transparent transparent #069 transparent;
}

.help-text-margin-width {
	margin-top:60px;
	width:6em;
}

.label_like {
	color: #069;
	font-size: 105%;
	font-weight: normal;
}
.margin_bottom_small {
	margin-bottom:20px;
}
.margin_top_small {
	margin-top:20px;
}
/*zero out padding and margin...used in ms-group*/
.zero td{
    margin: 0;
    padding: 0 2px;
}
.center-tbl table{
    margin: 0 auto;
}
.center {
    margin: 0 auto 20px auto;
}
.pad-left {
    padding: 0 0 0 10px;
}
/* add paddin and set width on input and select box (wb step-5 17.2 Unit Rates)*/
.Unit-Rates {
    padding: 0 0 10px 20px;
}
.Unit-Rates .bigger {
    font-size: 2em;
}
.Unit-Rates input {
    width: 40px;
    text-align: center;
}
.Unit-Rates select {
    width: 136px;
}

/* add paddin and set width on input box (16.4 proportion-application)*/
.proportion-application {
    padding: 0 0 10px 20px;
}
.proportion-application input {
    width: 60px;
    text-align: center;
}

.bottom-marg{
    margin-bottom: 20px;
}
/* problem text highlight-class (blue) */
.blue-text{
    color: #0088cc;
}
/* add margin to avoid charts that are wider than the problem panel   */
.buttonsright {
	float:right;
}
.feedbackwrapper {
	height:20px;
	margin-bottom:10px;
}
.problemwrapper {
	margin-top:30px;
}
.clskls372 .navbar-inverse .navbar-inner {
	background-image:none;
	background-color:darkblue;
}
ul.nav-list {
	columns: 2;
   -webkit-columns: 2; /* Safari and Chrome */
   -moz-columns: 2; /* Firefox */
}
ul.nav-list li {
	margin-bottom:5px;
}
.backRed {
	background:red;
}
button.btn {
	font-size:75%;
}
button.btn.btn-.bigger {
	font-size:125%;
}
button.btn.btn-success.bigger {
	font-size:125%;
}
button.btn.btn-.huge {
	font-size:175%;
}
.huge {
	font-size:175%;
}
.underline {
	text-decoration:underline;
}
.width400 {
	width: 400px;
}
.width380 {
	width: 380px;
}
/* .width160 select is used in data8_5.js*/
.width160 select{
	width: 160px;
}
.width120 input{
	width: 120px;
}