ms-exponent {
	display:block;
}
ms-exponent ms-input label span {
    display: none;
}
ms-exponent input {
    width: 40px;
}
ms-exponent ms-event-label {
    display: inline-block;
	vertical-align:top;
}
ms-exponent ms-event-label:nth-of-type(2) {
    position: relative;
    top: -10px;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
ms-exponent input {
	border:.5px solid #333;
}