ms-fraction > table {
    margin: 0 7px;
}
.fracNoMargin ms-fraction > table {
	margin: 0 1px;
}
.fraction td{
	text-align:center;
} 
div .fraction .control-group {
	padding:0;
	margin:0;
}
.fraction hr {
	border-color: transparent transparent #515151 transparent;
	height:1px;
	min-width:1em;
	padding:0px;
	margin:0px;
}
.fraction tr:nth-child(2) td {
	vertical-align:top;
}
.fraction tr:nth-child(3) td {
	padding-top:4px;
}
.fraction tr table {
    margin:0 auto;
}
.mixed-no-fraction {
	height: 3em;	
}
.mixed-no-fraction-span {
	display:block;
	height:1em;
	padding-top:1em;
}
.fraction ms-exponent {
	padding-top: 6px;
	padding-bottom: 4px;
}