ms-fraction > table {
    margin: 0 7px;
}
.fraction td{
	text-align:center;
} 
div .fraction .control-group {
	padding:0;
	margin:0;
}
.fraction hr {
	color:#000;
	background:#000;
	height:1px;
	padding:0px;
	margin:0px;
}
.fraction tr:nth-child(2) td {
	vertical-align:top;
}
.fraction tr:nth-child(3) td {
	padding-top:4px;
}
.fraction tr table {
    margin:0 auto;
}
.mixed-no-fraction {
	height: 3em;	
}
.mixed-no-fraction-span {
	display:block;
	height:1em;
	padding-top:1em;
}