.ms-order-ops-simple table {
	text-align:center;
}
.ms-order-ops-simple table {
	margin-bottom:5px;
}
.ms-order-ops-simple div.noShow {
	visibility:hidden;
}
.ms-order-ops-simple input {
    width: 40px;
}