.ms-order-ops-simple table {
	text-align:center;
}
.ms-order-ops-simple .large {
	font-size:110%;
}
.ms-order-ops-simple .large {
	font-size:110%;
}
.ms-order-ops-simple div.noShow {
	visibility:hidden;
}
.ms-order-ops-simple input {
    width: 40px;
}
.ms-order-ops-simple sup {
	font-weight:bold;
	font-family:"Open Sans";
}
.ms-order-ops-simple button.btn {
	font-size:110%;
	min-width:50px;
}
.ms-order-ops-simple hr {
	border-bottom: 1px solid;
	border-top: 0px;
	height:1px;
	min-width:1em;
	padding:0px;
	margin:0px;
}

.brace90 {
	margin-left:.9em;
	transform: rotate(90deg) scale(1,4);
	  -webkit-transform: rotate(90deg) scale(1,4);
	  -moz-transform: rotate(90deg) scale(1,4);
	  -ms-transform: rotate(90deg) scale(1,4);
	  -o-transform: rotate(90deg) scale(1,4);
}
.brace90Simple {
	margin-left:.7em;
	transform: rotate(90deg) scale(1,4);
	  -webkit-transform: rotate(90deg) scale(1,4);
	  -moz-transform: rotate(90deg) scale(1,4);
	  -ms-transform: rotate(90deg) scale(1,4);
	  -o-transform: rotate(90deg) scale(1,4);
}