<h1>Feedback for {{problemSet.title}}</h1>
<table class=table>
    <tr>
        <th>Problem #</th>
        <th>Problem</th>
        <th>Correct Answer</th>
        <th>Provided Answer</th>
    </tr>
    <tr ng-repeat="problemFeedback in feedback" class={{rowClass(problemFeedback.result)}}>
        <td>{{problemFeedback.problemNumber}}</td>
        <td><ms-expression expected={{problemFeedback.problem}}></ms-expression></td>
        <td><ms-expression expected="{{problemFeedback.expected | input2str  | button2str}}"></ms-expression></td>
        <td><ms-expression expected="{{problemFeedback.answer | input2str | button2str}}"></ms-expression></td>
    </tr>
</table>
