<span>
       <table class="collapseTable td_padding text_align_center">
            	<tr ng-show="chartTitleIn">
                	<th colspan="{{chartColumnsIn}}">
									<span class="fontWeightBold">{{chartTitleIn}}</span>
                    </th>
                </tr>
                 <tr ng-repeat="row in chartArrayOut" ng-style="{true: {borderBottom: '2px solid black'}, false: {}}[$first]">
			    	<td ng-repeat="col in row" class="chartTable">
                    	<span ng-bind-html-unsafe=col></span>
					</td>
			     </tr>
		</table>
</span>