<div class=well>
    <button
        class="btn btn-primary btn-block"
        ng-click=checkAnswer()
        ng-show=hasCheckAnswer
    >
        <i class="icon-ok icon-white"></i>
        {{answerButtonText}}
    </button>
    <button
        class="btn btn-warning btn-block"
        ng-click=help()
        ng-show=hasHelp
    >
        <i class="icon-question-sign icon-white"></i>
        Help
    </button>
    <button
        class="btn btn-primary btn-block"
        ng-click=showNextProblem()
        ng-show=hasNextProblem
    >
        <i class="icon-arrow-right icon-white"></i>
        Next Problem
    </button>
</div>