<style>
    ms-cancel-fractions button.cancelling {
        background: orange;
    }
    ms-cancel-fractions .cancel, ms-cancel-fractions .cancel ms-string {
        text-decoration: line-through;
        opacity: 0.8;
        height: 24px;
        display: block;
        padding: 4px 0;
    }
    ms-cancel-fractions .cancelDenominator, ms-cancel-fractions .cancelDenominator ms-string {
        padding: 0 0 11px 0;
        margin: -1px 0 0 0;
    }
    ms-cancel-fractions ms-input input {
        width: 40px;
    }
    ms-cancel-fractions .top {
        vertical-align: top;
    }
    ms-cancel-fractions .padding td {
        height: 30px;
    }
    ms-cancel-fractions ms-button-group {
        margin-top: 20px;
        display: inline-block;
    }
</style>

<div class="alert alert-block alert-info">{{instructions}}</div>
<div ng-switch on=curStep>
    <div ng-switch-when='cancelling'>
        <table>
            <tr>
                <td ng-repeat="frac in fracs" class=top>
                    <table>
                        <tr>
                            <td>
                                <table class=fraction>
                                    <tr><td>
                                        <span style=display:inline-block ng-switch on="cancelling.num == $index">
                                            <span ng-switch-when=true>
                                                <ms-input expected label=num></ms-input>
                                                <div class=cancel>{{frac[0]}}</div>
                                            </span>
                                            <span ng-switch-when=false>
                                                <button
                                                    ng-class="{ cancelling: cancelling.num == $index }"
                                                    class=btn
                                                    ng-click=cancelClick($index,'num')
                                                >{{frac[0]}}</button>
                                            </span>
                                        </span>
                                        <span style=display:inline-block ng-switch on="hasCancelledRecord($index, 'num')">
                                            <span ng-switch-when=true>
                                                <ms-expression class=cancel expected="{{getCancelledRecord($index, 'num')}}"></ms-expression>
                                            </span>
                                        </span>
                                    </td></tr>
                                    <tr><td><hr></td></tr>
                                    <tr><td>
                                        <span style=display:inline-block ng-switch on="cancelling.den == $index">
                                            <span ng-switch-when=true>
                                                <div class=cancel>{{frac[1]}}</div>
                                                <ms-input expected label=den></ms-input>
                                            </span>
                                            <span ng-switch-when=false>
                                                <button
                                                    ng-class="{ cancelling: cancelling.den == $index }"
                                                    class=btn
                                                    ng-click=cancelClick($index,'den')
                                                >{{frac[1]}}</button>
                                            </span>
                                        </span>
                                        <span style=display:inline-block ng-switch on="hasCancelledRecord($index, 'den')">
                                            <span ng-switch-when=true>
                                                <ms-expression class="cancel cancelDenominator" expected="{{getCancelledRecord($index, 'den')}}"></ms-expression>
                                            </span>
                                        </span>
                                    </td></tr>
                                </table>
                            </td>
                            <td>
                                <ms-expression expected="\\sign{&times;}" ng-hide=$parent.$last></ms-expression>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when='question'>
        <ms-expression expected={{display()}}></ms-expression>
        <ms-expression expected={{question()}} label=question></ms-expression>
    </div>
</div>
