<div class=floatLeft>
    <div class="alert alert-info">{{instructions}}</div>
    
    <div ng-repeat='(key, value) in numberObjects' class=floatLeft>
        <!--{{key}}{{value.numbers}}-->
        <table class=factors>
            <tr ng-repeat="step in value.completed" ng-class="borderIndexed($index, key)">
                <td>
                </td>
                <td class=divisor>
                    {{step.factor}}
                </td>
                <td class=dividend>
                    <span ng-repeat="number in step.numbers" class=factoring>{{number}}</span>
                </td>
            </tr>
            <tr ng-class="borderOrNot(key)" ng-hide="allDone">
                <td>
                   <span>&nbsp;</span>
                </td>
                <td class=divisor>
                    <span>
                        <ms-expression expected={{value.factorExp}} label={{key}}></ms-expression>
                    </span>
                    
                </td>
                <td class=dividend>
                    <span ng-hide="done">
                        <span ng-repeat="number in value.numbers" class=factoring>{{number}}</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="allDone">
        <div class=floatLeft>
            <span class=floatLeft>GCF</span><span class="bigger floatLeft"> &nbsp; =  &nbsp;</span><span class=floatLeft><ms-expression expected={{doneExp}} label="finalGcf"></ms-expression></span> 
        </div>
    </div>
	
</div>