<div>
    <div class="alert alert-info">{{instructions}}</div>
    <table class=factors>
        <tr ng-repeat="step in completed">
            <td class=divisor>
                {{step.factor}}
            </td>
            <td class=dividend>
                <span ng-repeat="number in step.numbers" class=factoring>{{number}}</span>
            </td>
        </tr>
        <tr ng-hide=done>
            <td class=divisor>
                <span>
                    <ms-expression expected={{factorExp}}></ms-expression>
                </span>
                
            </td>
            <td class=dividend>
                <span>
                    <span ng-repeat="number in numbers" class=factoring>{{number}}</span>
                </span>
            </td>
        </tr>
        <tr ng-show=done class=noborder>
            <td class=divisor>
                <span>
                    <ms-input expected={{lcm}} label={{$index}}></ms-input>
                </span>
            </td>
            <td ng-class=noborder ng-show=done>
                <span>
                    <span ng-repeat="number in numbers" class=factoring>{{number}}</span>
                </span>
            </td>
            <td class=dividend></td>
        </tr>
    </table>
</div>
