<div>
    <div class="alert alert-info">{{instructions}}</div>
    <table class=factors>
        <tr ng-repeat="step in completed">
            <td class=divisor>
                {{step.factor}}
            </td>
            <td class=dividend>
                <span ng-repeat="number in step.numbers" class=factoring>{{number}}</span>
            </td>
        </tr>
        <tr ng-class="borderOrNot()">
            <td class=divisor>
                <span>
                    <ms-expression expected={{factorExp}} label={{factorExpLabel}}></ms-expression>
                </span>
                
            </td>
            <td class=dividend>
                <span>
                    <span ng-repeat="number in numbers" class=factoring>{{number}}</span>
                </span>
            </td>
        </tr>
        
    </table>
</div>