<style type="text/css">
	.rotateCounterClock90 {
		-moz-transform: rotate(-90deg); 
		-webkit-transform: rotate(-90deg); 
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.placeholderDimensions {
		width: 300px;
		height: 300px;
	}
	.align_center {
		text-align:center;
	}
	.font_weight_bold {
		font-weight:bold;
	}
	.margin_left_small {
		margin-left: 80px;
	}
</style>

<table>
	<th colspan=2 class="align_center font_weight_bold">
	    <span class="margin_left_small">{{graphTitleIn}}</span>
    </th>
	<tr>
    	<td>
	        <span class="rotateCounterClock90 font_weight_bold">{{graphverticalIn}}</span>
        </td>
		<td>
			<div id="placeholder" class=placeholderDimensions></div>
		</td>
	</tr>
    <tr>
    	<td colspan=2 class="align_center">
        	<span class="margin_left_small font_weight_bold">{{graphBottomText}}</span>
        </td>
   	</tr>
</table>
