<style>
    ms-long-division-decimal ms-input {
        display: inline-block;
    }
    ms-long-division-decimal ms-input.digit {
        margin: 2px 2px 2px -2px;
        padding: 2px 8px 2px 2px;
    }
    ms-long-division-decimal .control-group, ms-long-division-decimal label {
        margin-bottom: 0;
    }
    ms-long-division-decimal .digit {
        display: inline-block;
        background: #eee;
        margin: 0px;
        padding: 5px;
        width: 10px;
        text-align: center;
    }
	ms-long-division-decimal .digitblank {
        display: inline-block;
        margin: 0px;
        padding: 5px;
        width: 10px;
        text-align: center;
    }
	ms-long-division-decimal .spaceblank {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        width: 2px;
        text-align: center;
    }
    ms-long-division-decimal .digit.placeholder, ms-long-division-decimal .digit.minus {
        width: 10px;
        background: transparent;
    }
    ms-long-division-decimal .digit.arrow {
        background: transparent;
    }
    ms-long-division-decimal .digit.inactive {
        opacity: 0.5;
    }
    ms-long-division-decimal input {
        padding: 2px 0 !important;
        border: 1px inset #CCC;
        text-align: center;
    }
    ms-long-division-decimal .digit input {
        width: 14px;
    }
    ms-long-division-decimal input.invalid {
        -moz-animation: invalid 1s;
        -webkit-animation: invalid 1s;
        -o-animation: invalid 1s;
        -ms-animation: invalid 1s;
        animation: invalid 1s;
    }
    ms-long-division-decimal td.dividend {
        border-left: 2px solid black;
        border-top: 2px solid black;
    }
    ms-long-division-decimal tbody > tr td:nth-of-type(2) {
        padding: 2px 5px;
    }
    ms-long-division-decimal .completedStep td:nth-of-type(2), ms-long-division-decimal td.quotient {
        border-left: 2px solid transparent;
    }
    ms-long-division-decimal .completedStep.product .answerContainer {
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    ms-long-division-decimal ms-input.wide1 input {
        width: 20px;
    }
    ms-long-division-decimal ms-input.wide2 input {
        width: 40px;
    }
    ms-long-division-decimal ms-input.wide3 input {
        width: 60px;
    }
    ms-long-division-decimal ms-input.wide4 input {
        width: 80px;
    }
    ms-long-division-decimal ms-input.wide5 input {
        width: 100px;
    }
	ms-long-division-decimal .redstuff.displayInline {
		display: inline;
	}
	ms-long-division-decimal .displayNone {
		display: none;
	}
	.rowWithBottom {
	}
	ms-long-division-decimal .rowWithBottom .borderBottom {
        border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
</style>
<div class="alert alert-info">{{instructions}}</div>
<div ng-switch on=complete>
    <span ng-switch-when=true>
        <ms-expression expected={{finalAnswer}} label=finalAnswer></ms-expression><br /><br />
    </span>
</div>
<table class=table-collapse-separate>
    <tr>
        <td></td>
        <td class=quotient>
            <span>&nbsp;</span>
            <span ng-bind-html-unsafe="quotientDone | stylecharacter:quotientOffset:true"></span>
            <span ng-switch on=showQuotient()> 
                <span ng-switch-when=true>
                    <ms-input expected="{{currentStep.quotient | wrap:'input'}}" class=digit></ms-input>
                </span>
            </span>
        </td>
    </tr>
    <tr>
        <td class=divisorstyle>{{divisor}}</td>
        <td class=dividendstyle style="padding-left:20px;"><span ng-bind-html-unsafe="dividend | stylecharacter"></span></td>
    </tr>
    <tr>
        <td>
        	<!--<span ng-show=step.gutterMinus class="digit minus">-</span>-->
        </td>
    	<td>
    		<table class=table-collapse-separate style="margin-left:-18px;">
                <tr ng-repeat="row in narrowDisplayArray" ng-class="getLineUnder($index)" ng-switch on="getRow($index)">
                    <td ng-repeat="col in row" style="padding:0;">
                        <span ng-bind-html-unsafe="col | stylecharacter"></span>
                    </td>
                    <td ng-show="showBlankSpace">
                        <span class=digitblank>&nbsp;</span>
                    </td>
                    <td ng-switch-when=true>
                            <span>
                                <ms-input expected="{{currentStep.carry | wrap:'input'}}" class="digit"></ms-input>
                            </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!--<tr ng-show=showCarry()>
    	<td></td>
        <td>
        	<span ng-bind-html-unsafe="currentStep.leading | digits:currentStep.offset"></span>
            <span ng-switch on=showCarry()>
                <span ng-switch-when=true>
                    <ms-input expected="{{currentStep.carry | wrap:'input'}}" class=digit></ms-input>
                </span>
            </span>
        </td>
    </tr>-->
    <tr ng-show=showProduct()>
        <td></td>
        <td>
        	<span ng-bind-html-unsafe="[] | digits:currentOffset"></span>
            <span ng-switch on=showProduct()>
                <span ng-switch-when=true>
                    <ms-input expected="{{currentStep.product | wrap:'input'}}" class={{$parent.getInputClass()}}></ms-input>
                </span>
            </span>
        </td>
    </tr>
    <tr ng-show=showDifference()>
        <td></td>
        <td>
        	<span ng-bind-html-unsafe="[] | digits:currentOffset"></span>
            <span ng-switch on=showDifference()>
                <span ng-switch-when=true>
                    <ms-input expected="{{currentStep.difference | wrap:'input'}}" class={{$parent.getInputClass()}}></ms-input>
                </span>
            </span>
        </td>
    </tr>
</table>
