<style>
.largeDecimal {
	font-size:150%;
	padding:0px;
}
</style>

	<span>
    	<table class="text_align_center separateTable">
			<tr>
				<td class='td_padding_small' ng-repeat='columnEntry in firstArray' ng-class="getClassBorder($index)">
                	{{columnEntry}}
				</td>
                <td>
                	<span ng-show="hideHelpInstructs2">%</span>
                </td>
			</tr>
			<tr>
				<td class='text_align_center' ng-repeat='columnEntry in secondArray'>
                	{{columnEntry}}
				</td>
                <td>
                </td>
			</tr>
            <tr ng-repeat='row in thirdArray'>
				<td class='text_align_center' ng-repeat='col in row'>
                	{{col}}<span ng-show="arrowheads" ng-class="getArrowhead($index)">&nbsp;</span>
				</td>
                <td>
                </td>
			</tr>
            <tr>
	            <td class='text_align_center' ng-repeat='columnEntry in secondArray'>
				</td>
            	<td>
         
                </td>
            </tr>	
		</table>
	</span>
    <span ng-hide="hideInstructions" class='text_align_left'>{{helpInstructions}}</span>

