<style>
    ms-multiply-fractions .cancelling {
        background: orange;
    }
    ms-multiply-fractions .cancel {
        text-decoration: line-through;
    }
    ms-multiply-fractions .fraction tr:nth-child(3) td {
        padding: 1px;
    }
</style>

<table>
    <tr>
        <td class=problem><ms-expression expected={{problem}} label="problem"></ms-expression></td>
        <td>&nbsp; = &nbsp;</td>
        <td><ms-expression expected={{answer}} label="answer"></ms-expression></td>
    </tr>
</table>
