<style type="text/css">

#container{
	padding:2em 1em;
	margin-left:2em;
	width:400px;
}
#container li {
   position:relative;
   list-style-type:none;  
}
#numid > li{
	position:absolute;
    margin-top:.6em; 
    font-size:.7em;  
}
#tickid > li{
   position:absolute; 
   margin-top: -.93em; 
   color:#A09696;
   z-index:-1;
   margin-left:-.23em; 
}

/* Slider bar */
.ui-slider-horizontal {
	 height: .1em; 
	 background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#CC0000)); 
	 background: -webkit-radial-gradient(circle, #FFF, #CC0000);  
}

/* Handles */
.ui-slider-horizontal .ui-state-default {
	height:.6em;
	width:.6em;
	margin-left:-.4em;
   	border-radius: 50%; 
    border: solid .1em #CC0000;
  
}
 .ui-widget-content .ui-state-hover,.ui-slider a:focus  {
 	margin-top:-.2em;
 	margin-left:-.5em;
 	height:.8em;
	width:.8em;
	background: -moz-radial-gradient(circle, #FFF, #CC0000); 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#CC0000)); 
	background: -webkit-radial-gradient(circle, #FFF, #CC0000);  
	background: -ms-radial-gradient(circle, #FFF, #CC0000); 	
	background: -o-radial-gradient(circle, #FFF, #CC0000); 
}
.ui-slider a {
	outline:none;
} 
.negativeNumMarginLeft{
	margin-left:-.8em;
	list-style-type:none;
}
.positiveNumMarginLeft{
	margin-left:-.3em;
}

a[title]:after {	
  content: attr(title);
  padding:.2em;
  font-size:.8em;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top:-3.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.error{
	border: solid 2px #A64341;
	display: block;
	height: .8em;
	width: .8em;
	border-radius: 50%;
	margin-top: -.25em;
	margin-left: -.1em;
	background: -moz-radial-gradient(circle, #F0B2B2, #b94a48); 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F0B2B2), to(#b94a48)); 
	background: -webkit-radial-gradient(circle, #F0B2B2, #b94a48);  
	background: -ms-radial-gradient(circle, #F0B2B2, #b94a48); 	
	background: -o-radial-gradient(circle, #F0B2B2, #b94a48);  
}
.success{
	border: solid 2px #004A00;
	display: block;
	height: .8em;
	width: .8em;
	border-radius: 50%;
	margin-top: -.25em;
	margin-left: -.1em;
	background: -moz-radial-gradient(circle, #85B185, #005C00); 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#85B185), to(#005C00)); 
	background: -webkit-radial-gradient(circle, #85B185, #005C00);  
	background: -ms-radial-gradient(circle, #85B185, #005C00); 	
	background: -o-radial-gradient(circle, #85B185, #005C00); 
}
.numberlineInputs{
	height: 20px;
	visibility: hidden;
}
.enlarge{
	width:150%;
}
</style>
<div id="container">	
	<div id='{{numberlineId}}' class="enlarge" >
		 <ul id="tickid" ng-repeat="row in tickArray">
			<li style= "left:{{row.leftPosition +'%'}}" >|</li>
		 </ul>
		 
		 <ul id="numid" ng-repeat="row in numArray">
			<li class='{{row.className}}' style= "left:{{row.leftPosition +'%'}}" >{{row.val}}</li>
		 </ul>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;" title="X"><span class="{{statusClassX}} "></span></a>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;" title="Y"><span class="{{statusClassY}} "></span></a>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;" title="Z"><span class="{{statusClassZ}} "></span></a>   
	</div>
	 
</div>

<div class=numberlineInputs  >
	<!-- expected value input tag here to generate answer event, value is ignored -->
	<ms-expression class=numberlineValue expected="\\input{x}"></ms-expression>
</div>


	