<style type="text/css">

#container{
	padding:2em 1em;
	margin-left:2em;
	width:60%;
}
#container li {
   position:relative;
   list-style-type:none;  
}
#numid > li{
	position:absolute;
    margin-top:.6em; 
    font-size:.7em;  
}
#tickid > li{
   position:absolute; 
   margin-top: -.93em; 
   color:#A09696;
   z-index:-1;
   margin-left:-.23em; 
}

/* Slider bar */
.ui-slider-horizontal {
	 height: .1em; 
	 background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#CC0000)); 
	 background: -webkit-radial-gradient(circle, #FFF, #CC0000);  
}

/* Handles */
.ui-slider-horizontal .ui-state-default {
	/*border: 0; 
	background: url(img/down-arrow.png) 50% 50% no-repeat; */
	/* background-image:none; */
 	height:.6em;
	width:.6em;
	margin-left:-.4em;
   	border-radius: 50%; 
    border: solid .1em #CC0000;
  
}
 .ui-widget-content .ui-state-hover,.ui-slider a:focus  {
 	margin-top:-.2em;
 	margin-left:-.5em;
 	height:.8em;
	width:.8em;
	background: -moz-radial-gradient(circle, #FFF, #CC0000); 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#CC0000)); 
	background: -webkit-radial-gradient(circle, #FFF, #CC0000);  
	background: -ms-radial-gradient(circle, #FFF, #CC0000); 	
	background: -o-radial-gradient(circle, #FFF, #CC0000); 
}
.ui-slider a {
	outline:none;
} 
.negativeNumMarginLeft{
	margin-left:-.8em;
	list-style-type:none;
}
.positiveNumMarginLeft{
	margin-left:-.3em;
}

a[title]:after {	
  content: attr(title);
  padding:.2em;
  font-size:.8em;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top:-3.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.error{
	display: block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	margin-top: -.25em;
	margin-left: -.1em;
	background: #b94a48;
}
.numberlineInputs{
	visibility: hidden;
}
</style>
<div id="container">	
	<div id='{{numberlineId}}'>
		 <ul id="tickid" ng-repeat="row in tickArray">
			<li style= "left:{{row.leftPosition +'%'}}" >|</li>
		 </ul>
		 
		 <ul id="numid" ng-repeat="row in numArray">
			<li class='{{row.className}}' style= "left:{{row.leftPosition +'%'}}" >{{row.val}}</li>
		 </ul>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;" title="X"><span class="{{errorclassX}} "></span></a>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;" title="Y"><span class="{{errorclassY}} "></span></a>
		 <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;" title="Z"><span class="{{errorclassZ}} "></span></a>   
	</div>
	 
</div>
<!-- <div>{{answerHelp}}</div> -->
<!-- <div class=numberlineInputs  ng-switch on="answerHelp"> -->
<!-- <div class=numberlineInputs  >
	<ms-expression class=numberlineValue expected={{expectedValue}}></ms-expression>
    expectedValue is: {{expectedValue}}
</div> -->

<!-- <br><br><br>
Displays current value of slider Handles
	 <label ng-model="num.valA">A -: {{num.valA}}</label>
	 <label ng-model="num.valB">B -: {{num.valB}}</label>
	 <label ng-model="num.valC">C -: {{num.valC}}</label>	 
	 </div>  -->
	