
    <span class="label_like text_align_left" ng-show="helpInstructions1">{{helpInstructions1}}</span><br />
	<span>
    <table>
     <tr>
      <td>
    	<table class="margin-bottom-very-small margin-left-30">
			<tr>
				<td>
                	<span ng-show="firstFraction">
                	<fraction-help
                    		numerator={{numerator1}}
							denominator={{denominator1}}
							whole={{whole1}}
                    >
                    </fraction-help>
                    </span>
                </td>
                <td>
                	<span ng-show="afterFirstFraction" class=eqFractionHelp><table style="margin-bottom:20px; "><tr><td rowspan=2><span class=whole>{{afterFirstFraction}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="firstEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
				<td>
                    <span ng-show="firstText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{firstText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td> 
                <td>
                	<span ng-show="afterFirstText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{afterFirstText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="secondEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
				<td>
                	<span ng-show="secondFraction">
                	<fraction-help 
                    		numerator={{numerator2}}
							denominator={{denominator2}}
							whole={{whole2}}
                    >
                    </fraction-help>
                    </span>
                </td>
                <td>
                   <span ng-show="afterSecondFraction" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{afterSecondFraction}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="thirdEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
				<td>
                	<span ng-show="secondText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{secondText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="afterSecondText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{afterSecondText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td> 
                <td>
                	<span ng-show="fourthEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="thirdFraction">
                	<fraction-help
                    		numerator={{numerator3}}
							denominator={{denominator3}}
							whole={{whole3}}
                    >
                    </fraction-help>
                    </span>
                </td>
                <td>
                    <span ng-show="afterThirdFraction" class=eqFractionHelp><table style="margin-bottom:20px; "><tr><td rowspan=2><span class=whole>{{afterThirdFraction}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="fifthEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
				<td>
               		<span ng-show="thirdText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{thirdText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="afterThirdText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{afterThirdText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td> 
                <td>
                	<span ng-show="sixthEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="fourthFraction">
                	<fraction-help 
                    		numerator={{numerator4}}
							denominator={{denominator4}}
							whole={{whole4}}
                    >
                    </fraction-help>
                    </span>
                    </td>
                    <td>
	                    <span ng-show="afterFourthFraction" class=eqFractionHelp><table style="margin-bottom:20px; "><tr><td rowspan=2><span class=whole>{{afterFourthFraction}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="seventhEquals" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>&nbsp; = &nbsp;</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
				<td>
                	<span ng-show="fourthText" class=eqFractionHelp><table style="margin-bottom:20px;"><tr><td rowspan=2><span class=whole>{{fourthText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td>
                <td>
                	<span ng-show="afterFourthText" class=eqFractionHelp><table style="margin-bottom:20px; "><tr><td rowspan=2><span class=whole>{{afterFourthText}}</span></td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table></span>
                </td> 
			</tr>
		</table>
        </td>
        <td>
        	<span ng-show="helpInstructions2" ng-bind-html-unsafe=helpHtml>{{helpInstructions2}}</span>
        </td>
        </tr>
        </table>
	</span>
    
<button
    class=helpButtonNav
    ng-click=moveToNextProblem()
    ng-show=hasNextProblem()
>Move To Next Problem</button>