<div>
    <ul class="nav nav-tabs">
        <li class=active><a href="#problem" data-toggle="tab" onclick="return false;">Problem</a></li>
        <li ng-class="{ disabled: !workbook }" ng-switch on=!workbook>
            <a ng-switch-when=false href="#workbook" data-toggle="tab" onclick="return false;">Workbook</a>
            <a ng-switch-when=true onclick="return false;">Workbook</a>
        </li>
    </ul>
    <div class=tab-content>
        <div class="tab-pane active" id=problem>
            <ms-panel-group panelgroup={{mainanswer}}></ms-panel-group>
        </div>
        <div class=tab-pane id=workbook>
            <ms-panel-group panelgroup={{workbook}}></ms-panel-group>
        </div>
    </div>
</div>