<div>
    <div class=row-fluid>
        <div class="span{{probSpan}} problemwrapper">
            <ms-expression expected={{problem}}></ms-expression>
        </div>
        <div class="span{{answSpan}} row-fluid {{helpPanelWell}}" ng-class="{margin_top_small: topMarginHelpBox}">
           <span ng-hide=showHelpPanel>
                <div class="span9 row-fluid">
                	<div class="row-fluid feedbackwrapper">
                        <ms-feedback></ms-feedback>
                    </div>
                    <ms-expression expected={{answer}} class=row-fluid></ms-expression>              
                </div>
                <ms-controls data={{controls}} class=span3 ng-class="fixBottomRight()"></ms-controls>
            </span>
            <span ng-show=showHelpPanel class="{{helpPanelClass}}">
                <div>
                    <ms-expression expected={{helpExpression}} class=span8></ms-expression>
                    <ms-controls data={{controls}} helpshow="{{showHelpPanel}}" class='ng-class:fixHelpClass' style="float:right;"></ms-controls>
                </div>
            </span>
            
        </div>
    </div>
    <ms-help-prompt></ms-help-prompt>
</div>