<span><br />
       <table>
            <tr>
            	<td ng-repeat="number in givenNumberArray">
                	{{number}}
                </td>
            </tr>
            <tr>
            	<td ng-repeat="place in randomplacearray">
                	{{place}}
                </td>
            </tr>
       </table>
       <table ng-show="showanswer">
        	<tr>
            	<td>
                	<br />
                	<span class="label_like">
                    	{{helpInstructions2}}
                    </span>
                </td>
            </tr>
        </table>
        <table ng-show="showanswer" class="margin-left-small label_like">
      		<tr>
            	<td>
                	<span><br />Answer:</span>
                </td>
            </tr>
        </table>
        <table ng-show="showanswer" class="margin-left-small label_like">
            <tr>
                <td ng-repeat="number in numberArray">
                    {{number}}
                </td>
            </tr>
            <tr>
                <td ng-repeat="place in randomplacearray">
                    {{place}}
                </td>
            </tr>
        </table>
</span>
   