
	<span>
    <table class=collapseTable>
     <tr>
      <td>
    	<table>
			<tr>
				<td class='td_padding_small' ng-repeat='columnEntry in firstArray' ng-class="getClassBorder($index)">
                	{{columnEntry}}
				</td>
                <td>
                	<span ng-show="hideHelpInstructs2">%</span>
                </td>
			</tr>
			<tr>
				<td class='td_padding_small' ng-repeat='columnEntry in secondArray'>
                	{{columnEntry}}
				</td>
                <td>
                </td>
			</tr>
            <tr ng-repeat='row in thirdArray' ng-class='getClass2($index)'>
				<td class='td_padding_small' ng-repeat='col in row' ng-class='getClass3($index)'>
                	{{col}}<span ng-show="arrowheads" ng-class="getArrowhead($index)">&nbsp;</span>
				</td>
                <td>
                </td>
			</tr>
		</table>
        </td>
        <td>
        	<span ng-show="hideHelpInstructs2" ng-bind-html-unsafe=helpHtml></span>
        </td>
        </tr>
        </table>
	</span>
