<span ng-hide="mathdisplay">{{inenglish}}</span>
<span>
    	<table ng-show="mathdisplay" class="collapseTable large-font-size">
			<tr class="tr_height" ng-repeat='row in firstArray' ng-class="getClass2($index)">
            	<td>
                </td>
				<td class='text_align_right' ng-repeat='col in row' ng-class="getClass3($index)">{{col}}
				</td>
                <td>
                </td>
			</tr>
            <tr class="tr_height">
            	<td>
                	<span class="whole-part-font-size padding_right_8px">{{sign}}</span>
                </td>
				<td class="text_align_right" ng-repeat='col in secondArray'>{{col}}
				</td>
                <td>
                </td>
			</tr>
            <tr class="tr_height_plus">
            	<td>
                </td>
				<td class='border-top-2px-black  text_align_right' ng-repeat='columnEntry in thirdArray'>{{columnEntry}}
				</td>				
                <td>
                </td>
			</tr>
            <tr class="tr_height">
            	<td>
                </td>
            	<!-- empty row for spacer -->
	            <td class='text_align_right' ng-repeat='columnEntry in thirdArray'>
				</td>
            	<td>
                </td>
            </tr>
		</table>
                
</span>